<?xml version="1.0"?>
<config xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <router id="standard">
        <route id="TrainingHitakshi_CustomFieldCheckout" frontName="module">
            <module name="TrainingHitakshi_CustomFieldCheckout"/>
        </route>
    </router>
</config>