<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="TrainingHitakshi\CustomNote\Api\Data\SimpleNoteInterface" type="TrainingHitakshi\CustomNote\Model\Data\SimpleNote" />
    <preference for="TrainingHitakshi\CustomNote\Api\SimpleNoteManagementInterface" type="TrainingHitakshi\CustomNote\Model\SimpleNoteManagement" />

    <virtualType name="Magento\Sales\Model\ResourceModel\Order\Grid" type="Magento\Sales\Model\ResourceModel\Grid">
        <arguments>
            <argument name="columns" xsi:type="array">
                <item name="simple_note" xsi:type="string">sales_order.simple_note</item>
            </argument>
        </arguments>
    </virtualType>

</config>