<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
	<event name="controller_action_predispatch">
		<observer name="checklogin" instance="TrainingHitakshi\LoginRestriction\Model\Observer"/>
	</event>
</config>