<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">

	<preference for="TrainingHitakshi\SimpleModule\Api\Data\MemberInterface" type="TrainingHitakshi\SimpleModule\Model\Member"/>

	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
	<arguments>
	<argument name="collections" xsi:type="array">
	<item name="member_entity_list_data_source" xsi:type="string">TrainingHitakshi\SimpleModule\Model\ResourceModel\Member\Grid\Collection</item>
	</argument>
	</arguments>
	</type>

	<virtualType name="TrainingHitakshi\SimpleModule\Model\ResourceModel\Member\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">member_data</argument>
			<argument name="resourceModel" xsi:type="string">TrainingHitakshi\SimpleModule\Model\ResourceModel\Member</argument>
		</arguments>
	</virtualType>

</config>